/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Sofia&effect=outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kalam:wght@300&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Audiowide&family=Kalam:wght@300&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&family=Staatliches&display=swap');

html {
  background-color: #81B8EF;
}

body {
  background-color: #ffffff;
  max-width: 950px;
  margin: 0 auto;
  padding: 1em;
  font-size: 20px;
  border: 5px solid black;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /*background: linear-gradient(#00825d, white);*/
  margin-left: 5px;
  background:wheat ;
}

h1{
  color: #008204;
  font-family: "Audiowide", Arial, cursive;
}

h2{
  color: #008204;
}

h3{
  color: #000000;
}

.textEcoTurismo {
  grid-column: 1/6;
  grid-row: 1/2;
  margin-left: 5px;
  text-align: center;
 }

.textZonaTuristica {
  grid-column: 1/6;
  grid-row: 2/3;
  margin-left: 5px;
  text-align: center;
  margin-top: -30px;
 }

.textEcoTurismo{
  color:black;
}

.paragro-datoscurioso{
  color: #0000ff;
}


  /*width: 95%;
  height: 80%;
  text-align: center;
  
}*/



.card1-playa{
  grid-column: 1/3;
  grid-row: 5/6;
  width: 100%;
  height: 120%;
  margin-top: -60px;
  margin-left: 30px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.card1-playa:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card2-volcanes{
  grid-column: 4/6;
  grid-row: 5/6;
  width: 90%;
  height: 120%;
  margin-left: 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
  margin-top: -60px;
  margin-right: 40px;
}
.card2-volcanes:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.card3-historica{
  grid-column: 1/3;
  grid-row: 7/8;
  width: 100%;
  height: 90%;
  margin-left: 30px;
  margin-top: 30;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.card3-historica:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card4-otras{
  grid-column: 4/6;
  grid-row: 7/8;
  width: 90%;
  height: 90%;
  margin-left: 10px;
  margin-top: 30;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
  margin-right: 40px;
}
.card4-otras:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}