/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend+Deca:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Sofia&effect=outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kalam:wght@300&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Audiowide&family=Kalam:wght@300&family=Lexend+Deca:wght@200&family=Montserrat+Alternates:wght@200&family=Sofia&family=Staatliches&display=swap');


.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

#navegador li:hover 
  { 
  background-color: blue; }

#subseccion1 {
  position: absolute; 
  top: 100%; 
  left: 0px;  
  background: black;
  font:normal 0.8em arial;  
  padding: 0.2em 0.5em ; 
  display: none; 
}	


html {
  background-color: #81B8EF;
}

body {
  background-color: #ffffff;
  max-width: 950px;
  margin: 0 auto;
  padding: 1em;
  font-size: 20px;
  border: 10px solid black;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px;
  background: linear-gradient(#0da1ec, white);
  align-items: center;
}


.logo-box {
  grid-column: 1/2;
  margin-top: 5px;
  margin-left: 15px;
}

.link-header {
  grid-column: 3/7;
  margin-top: 15px;
  margin-left: -150px;
  background: #283350;
}

.link-header a{
  color: #ffffff;
  background: #283350;
}



.text1{
  grid-row: 2/3;
  grid-column: 1/3;
  font-family: "Kalam", cursive;
  margin-left: 15px;
  margin-top: -30px;
}
.navigation-head {
  background-color: #000000;
  height: 30px;
  padding: 5px;
  text-align: center;
  margin-top: 15px;
  color: #ffffff
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
  /*grid-template-columns: 30% 70%;*/
  /*grid-template-rows: 150px 150px 350px 250px;*/
  /*align-items: center;*/
  padding: 5px;
  background: linear-gradient(#0da1ec, white);
  margin-left: 5px;
}

.text-welcome {
  grid-column: 1/2;
  /*grid-row: 2/3;*/
  margin-top: 80px;
  margin-left: 15px;
  /*background: yellowgreen;*/
  /*border: solid black;*/
  /*width: auto;*/
  text-align: center;
  font-family: "Audiowide", Arial, cursive;
}

.logo-home-grid {
  grid-column: 4/6;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  background: #874421;
  border: solid black;
  border-radius: 20px 20px 20px 20px;

}


.home-card1 {
  grid-row: 2/3;
  grid-column: 20%;
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(#F4B41A, white);
  border-radius: 20px 20px 20px 20px;
  width: 95%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.home-card1:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


.home-card2 {
  grid-row: 2/3;
  grid-column: 20%;
  margin-top: 20px;
  margin-left: 10px;
  background: rgb(207, 241, 241);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.home-card2:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.home-card3 {
  grid-row: 2/3;
  grid-column: 20%;
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(#F4B41A, white);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.home-card3:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.home-card4 {
  grid-row: 2/3;
  grid-column: 20%;
  margin-top: 20px;
  margin-left: 10px;
  background: lightcyan;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.home-card4:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.home-card5 {
  grid-row: 2/3;
  grid-column: 20%;
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(#F4B41A, white);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}
.home-card5:hover{
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*.contenido {
  grid-row: 4/5;
  grid-column: 1/2;
  margin-top: 20px;
  margin-left: 10px;
}

.image-box {
 grid-row: 4/5;
  grid-column: 1/2;
  margin-top: 20px;
  margin-left: 10px;
}
.paragrah1 {
  
}*/

img {
  /*height: 0 auto;
  width: 0 auto;*/
  margin-left: 5px;
  margin-top: 25px;
}

h3 {
  background-color: darkslategrey;
  color: white;
  margin: 0;
  height: 60px;
  padding: 7px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-family: 'Staatliches', cursive;
  align-self: auto;
}

/*a { color: #ffffff; }*/

a:hover {
  background: #F4B41A;
  color: black;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;

  text-align: center;
  color: #ffffff;
  background-color: darkslategrey;
  padding: 5px;
}

.text-footer {
  margin-left: 10px;
  margin-top: 20px;
  grid-column: 1/4;
  padding: 0px;
}

.icon-footer {
  grid-column: 4/6;
  background: #000000;

}

/*n1 {
  background: #283350;
  height: 50px;
  margin-top: 35px;
  text-align: center;
  color: rgb(140, 15, 15);
}*/

.text-welcome{
  position: absolute;
  top: 200px;
  left: 250px;

  
  color:  white;
  
  }

.tex1-bienvenido{
  margin-left: -140px;
}

.tex2-bienvenido{
  margin-left: 150px;
}

.tex3-bienvenido{
  margin-left: 300px;
}

.imagen-contenido{
  grid-row: 3/4;
  grid-column: 1/2;

  height: 100px;
  margin-top: -50px;
}

.parrafo{
  grid-row: 3/4;
  grid-column: 3/6;
  
  /*height: 80%;*/
  margin-left: -150px;
  margin-right: 10px;
  font-size: 20px;
  font-family: "Sofia", Verdana, cursive;
  text-align: justify;
}

/*FOR THE ABOUT US PAGE*/
.aboutus-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px 150px 350px;
  align-items: center;
}

.home-banner {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.aboutus-paragraph-1 {
  font-family: "Lexend Deca", Calibri, sans-serif;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
  height: 95px;
  margin-top: 10px;
  margin-left: 15px;
}

.home-right-img {
  grid-column: 1/2;
  grid-row: 3;
  background: #FAF5F0;
  margin-top: 200px;
  width: 95%;
  margin-left: 5px;
}

.aboutus-headline-2 {
  background-color: #FA7921;
  font-family: "Audiowide", Arial, cursive;
  color: white;
  grid-column: 2/2;
  grid-row: 2/3;
  width: 100%;
  height: 100px;
  margin-left: -10px;
  margin-top: -125px;
  text-align: center;
}
.aboutus-paragraph-2 {
  font-family: "Lexend Deca", Calibri, sans-serif;
  grid-column: 2/2;
  grid-row: 2/3;
  width: 98%;
  height: 100px;
  margin-top: 90px;
  /*margin-left: 0px;*/
}


/*FOR THE CONTACT US*/
.aboutus-grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 150px 150px 350px;
  align-items: center;
}

.home-banner-sendmessage {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.aboutus-paragraph-1 {
  font-family: "Lexend Deca", Calibri, sans-serif;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
  height: 95px;
  margin-top: 10px;
  margin-left: 15px;
}

.sendmessage-headline-2 {
  background-color: #FA7921;
  font-family: "Audiowide", Arial, cursive;
  color: white;
  grid-column: 2/2;
  grid-row: 2/3;
  width: 99%;
  height: 85px;
  margin-left: -10px;
  margin-top: -80px;
  text-align: center;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  /* make this element invisible until we are ready for it */
  display: none;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 13fr);

  margin-left: 300px;
  margin-top: -70px;
  background: #FAF5F0;
}

.button-send {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */

  margin-left: 5px;
  font-size: 15px;
  margin-left: 250px;
  grid-row: 5/5;
  grid-column: 2/3;
  width: 100px;
}

button:hover {
  color: black;
  font-size: 15px;
  background: lightgrey;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
  background: lightblue;
}

select {
  width: 250px;
}

select:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
  background: lightblue;
  font: 1em sans-serif;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 250px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid purple;
}


label {
  /* Uniform size & alignment */
  /*display: inline-block;*/
  width: 250px;
  box-sizing: border-box;
  text-align: left;
  color: blue;
}

form {
  /* Center the form on the page */
  /*margin: 0 auto;*/
  width: 600px;

  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 10px;
  background: blue;
}


/*FOR GASTRONOMIA PAGE*/
.gastro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr;*/
  padding: 5px;
  background: linear-gradient(#0da1ec, white);
  margin-left: 5px;
}

.banner-gastro{
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100px; 
  margin-top: 10px;
}

.title-gas {
  grid-column: 4/6;
  grid-row: 1/2;
  height: 100px;
  margin-top: 10px;
  color:floralwhite ;
  margin-left: 30px;
  font-family: "Audiowide", Arial, cursive;
}

.para-gastro{
  grid-column: 1/6;
  grid-row: 3/4;
  margin-left: 40px;
  margin-right: 15px;
  margin-top: 40px;
  font-size: 25px;
  /* font-family: "Sofia", Verdana, cursive; */
  text-align: justify;
}

.card1-gastro{
  grid-column: 1/2;
  grid-row: 5/6;
  margin-top: 20px;
  margin-left: 100px;
  background: rgb(207, 241, 241);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}

.card2-gastro{
  grid-column: 3/4;
  grid-row: 5/6;
  margin-top: 20px;
  margin-left: -80px;
  background: rgb(207, 241, 241);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}

.card3-gastro{
  grid-column: 5/6;
  grid-row: 5/6;
  margin-top: 20px;
  margin-right: 10px;
  background: rgb(207, 241, 241);
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}

.card-gastro-todo {
  grid-column: 1/6;
  grid-row: 5/6;
  margin-top: 5px;
  margin-left: 70px;
  border-radius: 20px 20px 20px 20px;
  width: 80%;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}

.origen-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: linear-gradient(#0da1ec, white);
  align-items: center;
}

.banner-origen{
  grid-column: 1/2;
  grid-row: 1/2;
  /*height: 50px; 
  margin-top: 10px;*/
}

.title-origen{
  grid-column: 1/6;
  grid-row: 1/2;
 /* height: 50px; */
  /*margin-top: 10px;*/
  color:floralwhite ;
  margin-left: 100px;
  margin-right: 45px;
  font-family: "Audiowide", Arial, cursive;
  background: #F4B41A;
  color: black;;
}

.para-origen{
  grid-column: 1/6;
  grid-row: 2/3;
  height: 50%; 
  margin-top: -150px;
  margin-left: 25px;
  margin-right: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;

}

.banner2-origen{
  grid-column: 1/2;
  grid-row: 3/3;
  height: 50%; 
  margin-top: -300px;

}

.para2-origen{
  grid-column: 1/6;
  grid-row: 3/3;
  margin-top: 40px;
  margin-right: 15px;
  margin-left: 320px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  height: 50%; 
}

.card4-gastro{
  grid-column: 6/6;
  grid-row: 5/6;
  margin-top: 20px;
  margin-right: 10px;
  background: rgb(207, 241, 241);
  border-radius: 20px 20px 20px 20px;
  width: 70%;
  height: 80%;
  text-align: center;
  box-shadow: 1px 1px 4px 1px #888;
  transition: all 0.25s;
  overflow: hidden;
  padding: 1px;
}

.title-histo {
  grid-column: 1/8;
  /*grid-row: 1/2;*/
  /*height: 100px;*/
  width: 120%;
  margin-top: 10px;
  color:floralwhite ;
  margin-left: 5px;
  font-family: "Audiowide", Arial, cursive;
  font-size: 30px;
  text-align: center;
}

/*FOR DESCUBRIMIENTO PAGE*/
.descubre-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: 1fr 1fr 1fr;*/
  padding: 5px;
  background: linear-gradient(#0da1ec, white);
  margin-left: 5px;
}

.banner-descubre {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100px; 
  margin-top: 5px;
  margin-left: 25px;
}

.title-des{
  grid-column: 1/6;
  grid-row: 1/2;
  height: 100px;
  margin-top: 10px;
  color:floralwhite ;
  margin-left: 30px;
  font-family: "Audiowide", Arial, cursive;
  text-align: center;
}

.parafos-descubre{
  grid-column: 1/5;
  grid-row: 3/4;
  margin-left: 40px;
  margin-right: 15px;
  margin-top: 40px;
  font-size: 25px;
  /* font-family: "Sofia", Verdana, cursive; */
  text-align: justify;
}

.imag-descu{
  grid-column: 5/6;
  grid-row: 3/4;
  margin-top: 50px;
  margin-right: 15px;
}

/* FOR INDEPENDENCIA WEBSITE*/
.proce-des{
  grid-column: 1/6;
  grid-row: 3/4;
  height: 100px;
  margin-top: 10px;
  color:floralwhite ;
  margin-left: 30px;
  font-family: "Audiowide", Arial, cursive;
  text-align:left;
}

.intro-descubre{
  grid-column: 1/6;
  grid-row: 2/3;

  margin-left: 40px;
  margin-right: 15px;
  margin-top: -40px;
  font-size: 25px;
  /* font-family: "Sofia", Verdana, cursive; */
  text-align: justify;
}

.back{
  margin-left: 5px;
  font-family: 'Arial Narrow Bold', sans-serif;
}